# Extension > Contributte
#
extensions:
    contributte.console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)

contributte.console:
    url: http://localhost/
    name: Nette Demo Project - Nicolas Baudron
    version: '0.0.2'
    catchExceptions: true
    lazy: true
