<div id="previews">
	<div id="template" class="row">

		{* file name *}
		<div class="order-1 col-9 col-lg-7 text-truncate text-success font-weight-bold" data-name></div>

		{* file size *}
		<div class="order-2 col-3 text-right col-lg-2 text-truncate" data-size></div>

		{* file remove *}
		<a class="dz-remove text-danger" href="javascript:undefined;" data-remove></a>

	</div>
</div>
